.table
{
    display: table;
}

.tr
{
    display: table-row;
}

.th
{
    display: table-cell;
    font-weight: bold;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.td
{
    display: table-cell;
    padding-bottom: 15px;
}





